html,body {
    width: 100%;
    height: 100%;
    font-family: "sans-serif";
    font-size: 14px;
    background-color: #ffffff;
    color:#777777;
    margin: 0;
}

#page {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#one,#two,#three,#four,#five,#six {
    width: 100%;
    background-color: #f6f6f6;
    box-shadow: 3px 3px 10px #888888;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 25px;
}

table {
    border-collapse: collapse;
}

table, td, th {
   border: 2px solid #777777;
   padding: 10px;

}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 2180px;
}

@media screen and (min-width: 1242px) {
    .flex-container {
        height: 800px;
        flex-wrap: wrap;
        overflow-x: scroll;
    }
}

.flex-item {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
}

@media screen and (max-width: 420px) {
    .flex-item {
        width: 300px;
    }
}

input {
    width: 280px;
}

@media screen and (max-width: 420px) {
    input {
        width: 240px;
    }
}

.flex-item p {
    padding-top: 10px;
}

.flex-item span {
    font-style: italic;
}

.flex-item h2 {
    font-size: 20px;
}

.box {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -10px;
}

.box h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial,"sans-serif";
    text-align: center;
}

.box h1 span {
    color: #0699fa;
}

.box h3 {
    font-weight: bold;
    font-family: Arial,"sans-serif";
    font-size: 18px;
    text-align: center;
    margin-top: -30px;
    color: #b6b6b6;
}

.box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

button {
    background-color: #0699fa;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

input {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}

#update {
    background-color: red;
}

